{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tailwindStylesheet": "./styles/globals.css",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript",
        "singleQuote": false,
        "printWidth": 80
      }
    }
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^[a-zA-Z0-9]",
    "^react$",
    "^next",
    "^{.*}$",
    "^@/api/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/styles/(.*)$",
    "^@/pages/(.*)$",
    "^@/contexts/(.*)$",
    "^@/config/(.*)$",
    "^@/types/(.*)$",
    "^[./]"
  ]
}
